<div class="view view--half_horizontal">
  <div class="layout layout--col gap--small">

    <div class="grid grid--cols-2">
      <div class="item">
        <div class="content">
          <span class="label label--small">Today</span>
          <span class="value value--large value--tnums">{{ current_temp }}{{ units }}</span>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <span class="label label--small">Anomaly vs {{ normal_window }}</span>
          <span class="value value--large value--tnums">{{ anomaly_str }}</span>
        </div>
      </div>
    </div>

    <div class="w-full">{{ svg_compact }}</div>

  </div>

  <div class="title_bar">
    <span class="title">Climate · {{ location }}</span>
    <span class="instance">{{ year }}</span>
  </div>
</div>
