<div class="view view--quadrant">
  <div class="layout layout--col gap--small">

    <div class="item">
      <div class="content">
        <span class="label label--small">{{ location }} · today</span>
        <span class="value value--large value--tnums">{{ current_temp }}{{ units }} ({{ anomaly_str }})</span>
      </div>
    </div>

    <div class="w-full">{{ svg_compact }}</div>

  </div>
</div>
